# Backend - Java
*.class
*.jar
*.war
*.ear

# Backend - Gradle
backend/.gradle/
backend/build/
backend/.idea/
backend/*.iml
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.properties

# Frontend - Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
